<h1>New business</h1>

<% form_for(@business) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :organization_name %><br />
    <%= f.text_field :organization_name %>
  </p>
  <p>
    <%= f.label :key_contact %><br />
    <%= f.text_field :key_contact %>
  </p>
  <p>
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :office_telephone %><br />
    <%= f.text_field :office_telephone %>
  </p>
  <p>
    <%= f.label :mobile_telephone %><br />
    <%= f.text_field :mobile_telephone %>
  </p>
  <p>
    <%= f.label :address_line1 %><br />
    <%= f.text_field :address_line1 %>
  </p>
  <p>
    <%= f.label :address_line2 %><br />
    <%= f.text_field :address_line2 %>
  </p>
  <p>
    <%= f.label :address_city %><br />
    <%= f.text_field :address_city %>
  </p>
  <p>
    <%= f.label :address_state %><br />
    <%= f.text_field :address_state %>
  </p>
  <p>
    <%= f.label :address_zipcode %><br />
    <%= f.text_field :address_zipcode %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', businesses_path %>