<table width="100%" border=0>
<tr>

<td valign="top">
<h1>Welcome Vendor</h1>

<br> 

<h3 style="padding-left: 150px;">Create a new offer here:</h3>

<br>
<br> 
	
	 	<div class="input" style="padding-left: 50px; margin-top: -10px; ">
	 	
		 	 Category:
				<select id="timezone" tabindex="6" name="timezone">
				<option value="1">Bar/Restaurant</option>
				<option value="2">Entertiantment</option>
				<option value="3">Service</option>
				</select>
		</div>
		
		<div class="input" style="padding-left: 50px;">
			Description:
				<select id="timezone" tabindex="10" name="timezone">
				<option value="1">discount</option>
				<option value="2">free</option>
				</select>
		</div>
		
		<div class="input" style="padding-left: 50px;">
			
				<label for="firstName">Offer terms*:</label>
				<input tabindex="0" type="text" id="firstName" name="firstName" value=""/>
				<br>
				<br>
		</div>

	<input class="input_button" style= "margin-left: 275px;" type="submit" value="add Offer" name="commit"/>

</div>


<p>
  <b>Organization name:</b>
  <%=h @business.organization_name %>
</p>

<p>
  <b>Key contact:</b>
  <%=h @business.key_contact %>
</p>

<p>
  <b>Email address:</b>
  <%=h @business.email_address %>
</p>

<p>
  <b>Office telephone:</b>
  <%=h @business.office_telephone %>
</p>

<p>
  <b>Mobile telephone:</b>
  <%=h @business.mobile_telephone %>
</p>

<p>
  <b>Address line1:</b>
  <%=h @business.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%=h @business.address_line2 %>
</p>

<p>
  <b>Address city:</b>
  <%=h @business.address_city %>
</p>

<p>
  <b>Address state:</b>
  <%=h @business.address_state %>
</p>

<p>
  <b>Address zipcode:</b>
  <%=h @business.address_zipcode %>
</p>

<p>
  <b>Comment:</b>
  <%=h @business.comment %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>