%h1 Step 2 : Store Locations

= error_messages_for(:location)
= error_messages_for(:address)

- semantic_form_for(@location, :url => { :action => :step2 }) do |f|
  - f.inputs do
    = f.input :name
    = f.input :phone
    - semantic_form_for :address do |a|
      = a.input :street
      = a.input :apt_suite, :label => "Unit or Suite"
      = a.input :street_2
      = a.input :city
      %li
        %label State*
        = state_select('address', 'state')
      = a.input :zip_code
  = f.buttons

.buttons
  %ul
    %li= link_to "Back", step1_store_wizard_path
    %li= link_to "Cancel", cancel_store_wizard_path, :method => :post