%h1 Step 3: Review

%p
  .label Business Name:
  = h(@business.name)
= render "businesses/business", :object => @business

%ul
  %li= link_to "Complete", complete_store_wizard_path, :method => :post
  %li= link_to "Back", step2_store_wizard_path
  %li= link_to "Cancel", cancel_store_wizard_path, :method => :post
