%h1 Step 1: Your Business

- semantic_form_for :business, :url=>{ :action => :step1 } do |f|
  = f.error_messages
  - f.inputs do
    = f.input :name,  :label => "Business Name"
    = f.input :email, :label => "Your Email"
    = f.input :url,   :label => "URL"
    = f.input :description, :as => :text, :required => false, :label => "Business Description"
    %li
      %label Business Type*  
      = select("business", "primary_category_id", Category.roots.collect {|p| [ p.name, p.id ] }, { :include_blank => true })
    %li
      %label Business Category*  
      = select("business", "category_id", Category.all_children.collect {|p| [ p.name, p.id ] }, { :include_blank => true })
    = f.buttons

.buttons
  %ul
    %li= link_to "Cancel", cancel_store_wizard_path, :method => :post