%h1 New Address

- semantic_form_for(@address) do |f|
  = f.error_messages
  - f.inputs do 
    = f.input :street
    = f.input :apt_suite, :required => false, :label => "Suite/Apt."
    = f.input :street_2, :required => false
    = f.input :city
    %li#address_state_input
      %label State*
      = state_select('address', 'state')
    = f.input :zip_code, :label => "Zip Code"
  = f.buttons :commit
  
= link_to 'Back', addresses_path