<h1>Listing offers</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>Item</th>
    <th>Offer terms</th>
    <th>Offer expiration</th>
    <th>Percent off</th>
    <th>Free y n</th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%=h offer.organization_id %></td>
    <td><%=h offer.item %></td>
    <td><%=h offer.offer_terms %></td>
    <td><%=h offer.offer_expiration %></td>
    <td><%=h offer.percent_off %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New offer', new_offer_path %>