
<p>
  <b>Item:</b>
  <%=h @offer.item %>
</p>

<p>
  <b>Offer terms:</b>
  <%=h @offer.offer_terms %>
</p>

<p>
  <b>Offer expiration:</b>
  <%=h @offer.offer_expiration %>
</p>

<p>
  <b>Percent off:</b>
  <%=h @offer.percent_off %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>