%h1 Step 2: Offer Restrictions/Availability

- semantic_form_for :offer, :url => { :action => :step2 } do |f|
  = f.error_messages
  - f.inputs do
    = f.input :restrictions, :as => :text
    = f.input :start_date
    = f.input :end_date
  = f.buttons

%ul
  %li= link_to "Back", step1_offer_wizard_path
  %li= link_to "Cancel", cancel_offer_wizard_path, :method => :post
