%h1 Step 1: Create an Offer

- semantic_form_for :offer, :url => { :action => :step1 } do |f|
  = f.error_messages
  - f.inputs do
    %li
      .offer_terms
        .label Is this an exclusive Footraffic offer?
        = f.radio_button 'exclusive_to_ft', 'yes'
        Yes
        = f.radio_button 'exclusive_to_ft', 'no'
        No
    = f.input :products, :label => "What type of products/services does your offer apply to?"
    
    .offer_terms
      %li
        = f.radio_button 'terms', 'percent_off', :class => "radio"
        Receive
        = text_field_tag 'terms[percent_off]'
        percent off
      %li
        = f.radio_button 'terms', 'dollars_off', :class => "radio"
        Receive
        = text_field_tag 'terms[dollars_off]'
        dollars off
      %li
        = f.radio_button 'terms', 'buy_x_get_y_free', :class => "radio"
        Buy
        = text_field_tag 'terms[percent_off]'
        get
        = text_field_tag 'terms[percent_off]'
        free
      %li
        = f.radio_button 'terms', 'percent_off_of_total_greater_than', :class => "radio"
        Receive
        = text_field_tag 'terms[percent_off]'
        percent off of any purchase more than
        = text_field_tag 'terms[percent_off]'
        dollars
      %li
        = f.radio_button 'terms', 'dollars_off_of_total_greater_than', :class => "radio"
        Receive
        = text_field_tag 'terms[percent_off]'
        dollars off of any purchase more than
        = text_field_tag 'terms[percent_off]'
        dollars
      %li
        = f.radio_button 'terms', 'free', :class => "radio"
        Get the product/service for free!

  .label Participating Locations:
  - @business.locations.each do |location|
    %li
      = check_box_tag "locations[]", location.id, :checked => true
      = h(location.name)
  = f.buttons

%ul
  %li= link_to "Cancel", cancel_offer_wizard_path, :method => :post
