%h1 Locations

%table
  %tr
    %th Business
    %th Location Name
    %th Location Address

  - @locations.each do |location|
    %tr
      %td= link_to h(location.business.name), business_path(location.business)
      %td= link_to h(location.name), location_path(location)
      %td= location.address.to_a
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete
